{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true
  },  
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0
  }
}
